<div class="modal fade" id="modal_info" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h3> Informations </h3>
            </div>
            <button type="button" class="close close-info" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="btn_close">&times;</span>
            </button>
            <div class="padding-top"></div>
            <div class="modal_container_search" id="container-modal-info">

            </div>
        </div>
    </div>
</div>