body{
  margin: 0;
}

/* CSS HEADER */

header{
  display: flex !important;
  justify-content: space-between;
}

header{
  height: 75px;
  box-shadow: 0 0 80px -20px;
  position: fixed;
  width: 100%;
  background-color: white;
}

header div{
  margin: 0 10px;
}

header .logo{
  width: fit-content;
}

header .logo img{
  width: 150px;
  height: auto;
  margin: 8px 5px;
}

/* CSS TROMBINOSCOPE */
#main{
  padding: 95px 140px 20px 140px;
}

#main h1{
  text-align: center;
  margin: 20px 0 35px 0;
}

.btn{
  display: block;
  text-decoration: none;
  background-color:#527fc1 ; /* #2c3e50 */
  padding: 8px 15px;
  max-width: 150px;
  border-radius: 5px;
  color: #ffffff;
}

.btn:hover{
  background-color:#365684 ; /* #1a242f */
  color: white !important;
}

#container_all .container{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px 0;
}

.item{
  margin: 10px;
  text-align: center;
  width: 320px;
  height: 110px;
  box-shadow: 0 0 25px #ccc;
  border-radius: 25px;
}

.item h2{
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

.no_style{
  text-decoration: none;
  color: black;
}

.no_style:hover{
  text-decoration: none;
  color: black
}


.no_style:focus{
  text-decoration: none;
  color: black
}

.vertical_align{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.link:hover{
  cursor: pointer;
}

.flex{
  display: flex;
}

.flex_center{
  justify-content: center;
}

.arrow p{
  margin: 0;
  font-size: 55px;
  font-weight: bold;
}

.input_search{
  height: 34px;
  border-radius:5px;
  border: 1px solid #ccc;
  padding: 0 5px;
}

.submit_search{
  border: none;
  height: 32px;
  border-radius: 5px;
  background-color: #527fc1;
  color: #ffffff;
}

.submit_search:hover{
  cursor:pointer;
  background-color: #365684;
}

/* CSS MODALS */
/* RESERVATION */
.modal-header{
  border: none !important;
  padding-bottom: 0 !important;
}

.modal_container_reservation, .modal_container_search{
  padding:0 15px 20px 15px;
}

.modal_container_reservation h3, .modal_container_search h3{
  margin: 15px 0;
  text-align: center;
}
