{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<main id="main">
		<h1>Bienvenue au GeePs</h1>
		<a href="#" class="btn">Réserver une salle</a>

		<div id="main_container">
			{% for activity in activities %}
				<a href="#" class="no_style">
					<div class="item vertical_align">
						<div>
							<h2>{{ activity.label }}</h2>
						</div>
					</div>
				</a>
			{% endfor %}
		</div>
	</main>

{% endblock %}
