{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
	<main id="main">
		<div class="position-help">
			<button class="btn" data-toggle="modal" data-target="#modal_help">Schéma Geeps</button>
		</div>
		<h1>Bienvenue au GeePs</h1>

		<div id="container_btn_back">
		</div>
		<div id="container_all">
			<div class="container" id="item0">
				{% for activity in activities %}
					<div class="link" id="item" onclick="load({{ activity.id }},0)" data-attribute="0">
						<div class="item vertical_align" style="background: linear-gradient(to top,{{ activity.color }} 0%,#ffffff 100%);">
							<div>
								<h2>{{ activity.label }}</h2>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>

    {% include 'Modals/modal_trombi.html.twig' %}
    {% include 'Modals/modal_help.html.twig' %}
	{% include 'Modals/modal_search.html.twig' %}

{% endblock %}

{% block scripts %}
	<script src="{{ asset('js/function.js') }}"></script>
	<script>
		var cpt = 1;
		var old_select = -1;

		$( "#name_search" ).keyup(function() {
			search()
		});

        $(document).on("click",".link",function () {
            var who = $(this);
			var where =	who.attr('data-attribute');
            activated_item(who,where);
        });

	</script>
{% endblock %}
