{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<main id="main">
		<h1>Bienvenue au GeePs</h1>
		<a href="#" class="btn">Réserver une salle</a>

		<div id="main_container">
			<a href="#" class="no_style">
				<div class="item vertical_align">
          <div>
  					<h2>Conseil de Laboratoire</h2>
  				</div>
        </div>
			</a>
			<a href="#" class="no_style">
				<div class="item vertical_align">
          <div>
  					<h2>Direction</h2>
  				</div>
        </div>
			</a>
			<a href="#" class="no_style">
				<div class="item vertical_align">
          <div>
  					<h2>Direction adjointe</h2>
  				</div>
        </div>
			</a>
			<a href="#" class="no_style">
				<div class="item vertical_align">
          <div>
  					<h2>Commité de direction</h2>
  				</div>
        </div>
			</a>

		</div>
	</main>

{% endblock %}
