{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
<main id="main">
		<h1>Bienvenue au GeePs</h1>
		<a href="#" class="btn">Réserver une salle</a>
		<div id="container_btn_back">
		</div>
		<div id="main_container">
			{% for activity in activities %}
				<div class="link" id="item" onclick="load({{ activity.id }})">
					<div class="item vertical_align">
						<div>
							<h2>{{ activity.label }}</h2>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</main>

{% endblock %}

{% block scripts %}
	<script>
        function  load(val) {
            var json = {
                'id': val
            };

            var path = "{{ path('load_other_section')|escape('js') }}";

            $.post(path, json, function (retour) {

                $('#main_container').html(JSON.parse(retour));

                console.log(JSON.parse(retour));
            });
        }
	</script>
{% endblock %}
