{% for user in users %}
    <div class="item_user">
        <img src="{{ asset('img/avatar.png') }}" alt="Photo de profil">
        <div class="information">
            <p><span class="bold"> Nom</span> : {{ user.lastname }}</p>
            <P><span class="bold">Prénom</span> : {{ user.firstname }}</P>
        </div>
    </div>
{% endfor %}